body {
    background-color: rgba(255, 255, 255, .9);
}

.jumbotron {
    background-color: #2A9D8F;
    border-radius: 0;
}

.jumbotron h1 {
    color: white;
}

.card-item {
    flex: 1 20%;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.btn-card {
    width: 100%;
    background-color: #264653;
    border-radius: 0;
}

.btn-card:hover, .btnCollapse:hover {
    background-color: #2A9D8F;
}

footer {
    background-color: #2A9D8F;
    color: white;
    padding: 10px 10px 10px;
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100%;
}

footer a {
    color: white;
}

footer a:hover {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    .foot-sm {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        align-items: flex-start;
    }
    .cards {
        width: 100%;
    }
    .btnCollapse{
        margin-top: 0.2rem;
    }
}

@media screen and (min-width: 577px) {
    .foot-link-right {
        text-align: right;
        align-items: flex-end;
        justify-content: space-around;
    }
    .foot-link-left {
        align-items: flex-start;
        justify-content: space-around;
    }
}

td {
    font-size: 1rem;
}

.tabWidth{
    width: 100%;
}

.btnCollapseParent{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
}

.btnCollapse{
    width: 100%;
    background-color: #264653;
}

.btnAccordion, .tabLink{
    color: black;
    font-style: italic;
}

.nav-item .tabLink.active{
    color: gray;
    font-style: normal;

}