$green: #264653;
$lightGreen: #2A9D8F;
$white:#ffffff;
$black: #000000;
$gray: #808080;
$red: #cc3300;
$yellow: #ffff00;
$body:rgba(255, 255, 255, .9);

@mixin margenesLaterales($left, $right){
    margin-left: $left;
    margin-right: $right;
}

@mixin margenesVerticales($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

body {
    background-color: $body;
}

.jumbotron {
    background-color: $lightGreen;
    border-radius: 0;
}

.jumbotron h1 {
    color: $white;
}

.card-item {
    flex: 1 20%;
    @include margenesLaterales(0.3rem, 0.3rem);
}

.btn-card {
    width: 100%;
    background-color: $green;
    border-radius: 0;
}

.btn-card:hover, .btnCollapse:hover {
    background-color: $lightGreen;
}

footer {
    background-color: $lightGreen;
    color: $white;
    padding: 10px 10px 10px;
    @include margenesVerticales(10px, 0px);
    width: 100%;
}

footer a {
    color: $white;
}

footer a:hover {
    color: $black;
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    .foot-sm {
        @include margenesVerticales(0.5rem, 1rem);
        align-items: flex-start;
    }
    .cards {
        width: 100%;
    }
    .btnCollapse{
        margin-top: 0.2rem;
    }
}

@media screen and (min-width: 577px) {
    .foot-link-right {
        text-align: right;
        align-items: flex-end;
        justify-content: space-around;
    }
    .foot-link-left {
        align-items: flex-start;
        justify-content: space-around;
    }
}

td {
    font-size: 1rem;
}

.tabWidth{
    width: 100%;
}

.btnCollapseParent{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
}

.btnCollapse{
    width: 100%;
    background-color: $green;
}

.btnAccordion, .tabLink{
    color: $black;
    font-style: italic;
}

.nav-item .tabLink.active{
    color: $gray;
    font-style: normal;

}